/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

    font-family: 'Pacifico', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Lemonada', cursive;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Antic', sans-serif; */

body {
    background-color: white;
}
.bg-img {
    position: absolute;
    background-image: url("bckgrnd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 650px;
    top: 0;
    left: 0;
}
.container {
    /* position: absolute; */
    display: flex;
    width: 100vw;
    height: 100px;
}
.navbar {
    display: flex;
    text-align: center;
    width: 100vw;
    height: 100px;
    /* overflow: hidden; */
    background: rgba(188, 111, 158, 0.17);
}
.navbar a {
    color: white;
    padding: 15px 17px;
    font-size: 22px;
}
.navbar-logo {
    width: 100vw;
    height: 90px;
    /* background-color: rgb(52, 96, 96); */
}
.navbar-container {
    width: 100vw;
    height: 100px;
    /* background-color: rgb(103, 103, 103); */
}
